@model Details
@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
    ViewData["Breadcrumbs"] = new[] {new Breadcrumb("Instructors", @Url.Action("Index"))};
}

@Html.Partial("_InstructorList")

<script id="template" type="text/html">
    {{tmpl instructorListTemplate}}
    <div>
        <div class="display-label">First Name</div>
        <div class="display-field">${FirstName}
            <button class="editInstructorName icon-pencil no-text">
                Change Instructor Name
            </button>
        </div
        <div class="display-label">Last Name</div>
        <div class="display-field">${LastName}
            <button class="editInstructorName icon-pencil no-text">
                Change Instructor Name
            </button>
        </div>

        <div>
            @using (Html.BeginForm<InstructorController>(c => c.AddCourse(null), FormMethod.Post, new {id="instructorAddCourse"})) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="${Id}" />
                <select name="CourseId">
                {{each AvailableCourses}}
                    <option value="${$index}">${$value}</option>
                {{/each}}
                </select>
                <input type="submit" value="Add Course" class="icon-plusthick" />
            }
        </div>

        <fieldset>
            <legend>Courses</legend>
            @using (Html.BeginForm<InstructorController>(c => c.RemoveCourses(null), FormMethod.Post, new {id="instructorAddCourse"})) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="${Id}" />
                @:{{each Courses}}
                    <div>
                        <input type="checkbox" id="course${$index}" name="CourseIds" value="${$index}">
                        <label for="course${$index}">${$value}</label>
                    </div>
                @:{{/each}}
                <input type="submit" value="Remove Checked Courses" class="icon-closethick" />
            }
        </fieldset>

    </div>

    <div id="editInstructorNameDialog" title="Change Instructor Name" class="hidden">
        @using (Html.BeginForm<InstructorController>(c => c.Rename(null), FormMethod.Post, new { id = "editInstructorNameForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div class="editor-label">First Name</div>
            <div class="editor-field">
                <input type="textbox" Name="NewFirstName" value="${FirstName}"/>
            </div>

            <div class="editor-label">Last Name</div>
            <div class="editor-field">
                <input type="textbox" Name="NewLastName" value="${LastName}"/>
            </div>
        }
    </div>


</script>


<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/editInstructorName.js")"></script>

<div id="placeholder" />