@model Details
@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
    ViewData["Breadcrumbs"] = new[] {new Breadcrumb("Instructors", @Url.Action("Index"))};
}

@Html.Partial("_InstructorList")
@Html.Partial("_AddBlackoutTime")

<script id="template" type="text/html">
    {{tmpl "#instructorListTemplate"}}
    <div class="content">
        <ul class="links">
            <li>@(Html.TemplateActionLink("View Schedule","Calendar", new {id = "${Id}"}))</li>
            <li><a id="removeInstructor" href="#">Remove Instructor</a></li>
        </ul>

        <div class="display-label">First Name</div>
        <div class="display-field">${FirstName}
            <button class="editInstructorName icon-pencil no-text">
                Change Instructor Name
            </button>
        </div>
        <div class="display-label">Last Name</div>
        <div class="display-field">${LastName}
            <button class="editInstructorName icon-pencil no-text">
                Change Instructor Name
            </button>
        </div>

        <div>
            @using (Html.BeginForm<InstructorController>(c => c.AddCourse(null), FormMethod.Post, new {id="instructorAddCourse"})) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="${Id}" />
                <select name="CourseId">
                {{each AvailableCourses}}
                    <option value="${$index}">${$value}</option>
                {{/each}}
                </select>
                <input type="submit" value="Add Course" class="icon-plusthick" />
            }
        </div>

        <fieldset>
            <legend>Courses</legend>
            @using (Html.BeginForm<InstructorController>(c => c.RemoveCourses(null), FormMethod.Post, new {id="instructorRemoveCourse"})) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="${Id}" />
                @:{{each Courses}}
                    <div>
                        <input type="checkbox" id="course${$index}" name="CourseIds" value="${$index}">
                        <label for="course${$index}">${$value}</label>
                    </div>
                @:{{/each}}
                <input type="submit" value="Remove Checked Courses" class="icon-closethick" />
            }
        </fieldset>

        {{tmpl "#instructorAddBlackoutTimeTemplate"}}
        <fieldset>
            <legend>Blackout Times</legend>
            @using (Html.BeginForm<InstructorController>(c => c.RemoveBlackoutTime(null), FormMethod.Post, new { id = "instructorRemoveBlackoutTime" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="${Id}" />
                @:{{each BlackoutTimes}}
                    <div>
                        <input type="checkbox" id="blackoutTime${$index}" name="BlackoutTimeIds" value="${$index}">
                        <label for="blackoutTime${$index}">${$value}</label>
                    </div>
                @:{{/each}}            
                <input type="submit" value="Remove Blackout Times" class="icon-closethick" />
            }
        </fieldset>

    </div>

    <div id="editInstructorNameDialog" title="Change Instructor Name" class="hidden">
        @using (Html.BeginForm<InstructorController>(c => c.Rename(null), FormMethod.Post, new { id = "editInstructorNameForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div class="editor-label">First Name</div>
            <div class="editor-field">
                <input type="textbox" Name="NewFirstName" value="${FirstName}"/>
            </div>

            <div class="editor-label">Last Name</div>
            <div class="editor-field">
                <input type="textbox" Name="NewLastName" value="${LastName}"/>
            </div>
        }
    </div>

    <div id="removeInstructorDialog" title="Remove Instructor" class="hidden">
        @using (Html.BeginForm<InstructorController>(c => c.RemoveInstructor(null), FormMethod.Post, new {id = "removeInstructorForm"}))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div>Are you sure you want to remove this instructor?</div>
        }
    </div>

</script>


<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/editInstructorName.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/removeInstructor.js")"></script>

<div id="placeholder" />