@model Details
@{
    ViewBag.Title = Model.TemplateName;
    ViewData["Breadcrumbs"] = new[] { new Breadcrumb("Templates", @Url.Action("Index")) };
}

@Html.Partial("_TemplateList")
@Html.Partial("_ChangeInstructor")

<script id="template" type="text/html">
{{tmpl "#templateListTemplate"}}
    <div class="content">
        <ul class="links">
            <li><a href="#" id="copyTemplateLink">Copy Template</a></li>
            <li><a href="#" id="createSectionLink">Create Section</a></li>
            <li><a href="#" id="removeTemplateLink">Remove Template</a></li>
        </ul>
        <div class="display-label">Template</div>
        <div class="display-field">${TemplateName}
            <button id="renameTemplate" class="icon-pencil no-text">Rename Template</button>
        </div>
        <div class="display-label">Course</div>
        <div class="display-field">${CourseName}</div>
        <div class="display-label">Capacity</div>
        <div class="display-field">${Capacity}
            <button id="changeCapacity" class="icon-pencil no-text">Change Capacity</button>
        </div>
        <div class="display-label">Room</div>
        <div class="display-field">
            {{if RoomName}}
                ${RoomName}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            {{if CanChangeRoom}}
                @(Html.TemplateActionLink("Change Room", "ChangeRoom",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
            {{/if}}
        </div>
        <div class="display-label">Instructor</div>
        <div class="display-field">
            {{if InstructorName}}
                ${InstructorName}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            <a href="#" id="changeInstructorLink" class="button icon-pencil no-text">Change Instructor</a>
        </div>
        <fieldset>
            <legend>Instructor Equipment
                @(Html.TemplateActionLink("Change Instructor Equipment", "ChangeInstructorEquipment",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
            </legend>
            {{if InstructorEquipment.length}}
            <ul>
                {{each InstructorEquipment}}
                    <li>${$value}</li>
                {{/each}}
            </ul>
            {{else}}
                <span class="disabled">None</span>
            {{/if}}
        </fieldset>
        <fieldset>
            <legend>Student Equipment
                @(Html.TemplateActionLink("Change Student Equipment", "ChangeStudentEquipment",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
            </legend>
            {{if StudentEquipment.length}}
            <ul>
                {{each StudentEquipment}}
                    <li>${$value}</li>
                {{/each}}
            </ul>
            {{else}}
                <span class="disabled">None</span>
            {{/if}}
        </fieldset>
    </div>


    <div id="copyTemplateDialog" title="Copy Template" class="hidden">
        @using (Html.BeginForm<TemplateController>(c => c.CopyTemplate(null), FormMethod.Post, new { id = "copyTemplateForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="SourceId" value="${Id}" />
            <input type="hidden" Name="CopyId" value="@Guid.NewGuid()" />
            <div class="editor-label">New Template Name</div>
            <div class="editor-field">
                <input type="textbox" Name="CopyName" value="${TemplateName}"/>
            </div>
        }
    </div>

    <div id="createSectionDialog" title="Create Section" class="hidden">
        @using (Html.BeginForm<TemplateController>(c => c.CreateSection(null), FormMethod.Post, new { id = "createSectionForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <input type="hidden" Name="SectionId" value="@Guid.NewGuid()" />
            <div class="editor-label">Section Number</div>
            <div class="editor-field">
                <input type="textbox" Name="SectionNumber"/>
            </div>
        }
    </div>

    <div id="removeTemplateDialog" title="Remove Template" class="hidden">
        @using (Html.BeginForm<TemplateController>(c => c.RemoveTemplate(null), FormMethod.Post, new {id = "removeTemplateForm"}))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div>Are you sure you want to remove this template?</div>
        }
    </div>

    <div id="renameTemplateDialog" title="Rename Template" class="hidden">
        @using (Html.BeginForm<TemplateController>(c => c.RenameTemplate(null), FormMethod.Post, new { id = "renameTemplateForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div class="editor-label">New Template Name</div>
            <div class="editor-field">
                <input type="textbox" Name="TemplateName" value="${TemplateName}"/>
            </div>
        }
    </div>

    <div id="changeCapacityDialog" title="Change Capacity" class="hidden">
        @using (Html.BeginForm<TemplateController>(c => c.ChangeCapacity(null), FormMethod.Post, new { id = "changeCapacityForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div class="editor-label">New Capacity</div>
            <div class="editor-field">
                <input type="textbox" Name="Capacity" value="${Capacity}"/>
            </div>
        }
    </div>

</script>

<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/copyTemplate.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/createSection.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/removeTemplate.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/renameTemplate.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/changeCapacity.js")"></script>


<div data-bind='template: "template"' />