@model Details
@{
    ViewBag.Title = Model.SectionName;
    ViewData["Breadcrumbs"] = new[] { new Breadcrumb("Sections", @Url.Action("Index")) };
}

@Html.Partial("_SectionList")
@Html.Partial("_ChangeInstructor")
@Html.Partial("_ChangeTerm")

<script id="template" type="text/html">
{{tmpl "#sectionListTemplate"}}
    <div class="content">
        <ul class="links">
            <li><a href="#" id="cancelSectionLink">Cancel Section</a></li>
            <li><a href="#" id="createTemplateLink">Create Template</a></li>
        </ul>
        <div class="display-label">Section</div>
        <div class="display-field">${SectionName}</div>
        <div class="display-label">Term</div>
        <div class="display-field">
            {{if Term}}
                ${Term}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            <a href="#" id="changeTermLink" class="button icon-pencil no-text">Change Term</a>
        </div>
        <div class="display-label">Capacity</div>
        <div class="display-field">${Capacity}
            <button id="changeCapacity" class="icon-pencil no-text">Change Capacity</button>
        </div>
        <div class="display-label">Room</div>
        <div class="display-field">
            {{if RoomName}}
                ${RoomName}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            @(Html.TemplateActionLink("Change Room", "ChangeRoom",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
        </div>
        <div class="display-label">Instructor</div>
        <div class="display-field">
            {{if InstructorName}}
                ${InstructorName}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            <a href="#" id="changeInstructorLink" class="button icon-pencil no-text">Change Instructor</a>
        </div>
        <div class="display-label">Schedule</div>
        <div class="display-field">
            {{if ScheduleText}}
                ${ScheduleText}
            {{else}}
                <span class="disabled">Not Set</span>
            {{/if}}
            @(Html.TemplateActionLink("Change Schedule", "ChangeSchedule",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
        </div>

        <fieldset>
            <legend>Instructor Equipment
                @(Html.TemplateActionLink("Change Instructor Equipment", "ChangeInstructorEquipment",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
            </legend>
            {{if InstructorEquipment.length}}
            <ul>
                {{each InstructorEquipment}}
                    <li>${$value}</li>
                {{/each}}
            </ul>
            {{else}}
                <span class="disabled">None</span>
            {{/if}}
        </fieldset>
        <fieldset>
            <legend>Student Equipment
                @(Html.TemplateActionLink("Change Student Equipment", "ChangeStudentEquipment",new {Id="${Id}"}, new {@class="button icon-pencil no-text"}))
            </legend>
            {{if StudentEquipment.length}}
            <ul>
                {{each StudentEquipment}}
                    <li>${$value}</li>
                {{/each}}
            </ul>
            {{else}}
                <span class="disabled">None</span>
            {{/if}}
        </fieldset>
        <fieldset id="notes">
            <legend>Notes
            <a href="#" id="addNoteLink" class="button icon-plusthick no-text">Add Note</a>
            </legend>
            {{if Notes && Notes.length}}
            <ul>
                {{each(i, note) Notes}}
                    <li>
                        <div class="heading ui-corner-all">
                            <span class="user">${UserName}</span> wrote 
                            <span class="humaneDate" title="${NoteAdded}">${NoteAdded}</span>
                        </div>
                        <div class="content">${Content}</div>
                    </li>
                {{/each}}
            </ul>
            {{else}}
                <span class="disabled">No notes</span>
            {{/if}}
        </fieldset>
    </div>


    <div id="changeCapacityDialog" title="Change Capacity" class="hidden">
        @using (Html.BeginForm<SectionController>(c => c.ChangeCapacity(null), FormMethod.Post, new { id = "changeCapacityForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <div class="editor-label">New Capacity</div>
            <div class="editor-field">
                <input type="text" Name="Capacity" value="${Capacity}"/>
            </div>
        }
    </div>

    <div id="cancelSectionDialog" title="Cancel Section" class="hidden">
        @using (Html.BeginForm<SectionController>(c => c.CancelSection(null), FormMethod.Post, new { id = "cancelSectionForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <p>Are you sure you want to cancel this section?</p>
        }
    </div>

    <div id="createTemplateDialog" title="Create Template" class="hidden">
        @using (Html.BeginForm<SectionController>(c => c.CreateTemplate(null), FormMethod.Post, new { id = "createTemplateForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="SectionId" value="${Id}" />
            <div class="editor-label">Template Name</div>
            <div class="editor-field">
                <input type="text" Name="TemplateName" value="${SectionName}"/>
            </div>
        }
    </div>

    <div id="addNoteDialog" title="Add Note" class="hidden">
        @using (Html.BeginForm<SectionController>(c => c.AddNote(null), FormMethod.Post, new { id = "addNoteForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" Name="Id" value="${Id}" />
            <textarea rows="4" style="height: 100%; width: 100%" name="Content" />
        }
    </div>

</script>

<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/changeCapacity.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/cancelSection.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/createTemplate.js")"></script>
<script type="text/javascript" src="@Url.Content(@"~/Areas/Schedule/Scripts/addNote.js")"></script>


<div data-bind='template: "template"' />