@model Details

@{
    ViewBag.Title = Model.RoomName;
    ViewData["Breadcrumbs"] = new[] { 
        new Breadcrumb(Model.CampusName, @Url.Action<CampusController>(c => c.Details(Model.CampusId))) ,
        new Breadcrumb(Model.BuildingName, @Url.Action<BuildingController>(c => c.Details(Model.BuildingId))),
        new Breadcrumb(Model.MapName, @Url.Action<MapController>(c => c.Details(Model.MapId)))
    };
}

@Html.Partial("_Tree")

<script id="template" type="text/html">
    {{tmpl "#treeTemplateProxy"}}
    <div class="content">
        <ul class="links" >
            <li><a href="#" id="moveRoomLink">Move Room</a></li>
            <li><a href="#" id="removeRoomLink">Remove Room</a></li>
        </ul>
        <div style="display: table">
            <div style="display: table-row">
                <div style="display: table-cell">
                    <div class="display-label">Room</div>
                    <div class="display-field">${RoomName}
                        <button id="renameRoom" class="icon-pencil no-text">Rename Room</button>
                    </div>

                    <div class="display-label">Room Type</div>
                    <div class="display-field">
                        {{if RoomType && RoomType.length}}
                            ${RoomType}
                        {{else}}
                            <span class="disabled">Not Set</span>
                        {{/if}}
                        <button id="changeRoomType" class="icon-pencil no-text">Change Room Type</button>
                    </div>

                    <div class="display-label">Capacity</div>
                    <div class="display-field">
                        {{if Capacity}}
                            ${Capacity}
                        {{else}}
                            <span class="disabled">None</span>
                        {{/if}}
                        <button id="changeCapacity" class="icon-pencil no-text">Change Capacity</button>
                    </div>
                </div>
                <div style="display: table-cell; padding: 3em 3em 3em 3em;">
                    <fieldset>
                        <legend>Equipment
                            <button id="addEquipment" class="icon-plusthick no-text">Add Equipment</button>
                            <button id="removeEquipment" class="icon-minusthick no-text">Remove Equipment</button>
                        </legend>
                        {{if RoomEquipment && mapHasKeys(RoomEquipment)}}
                        <ul>
                            {{each(item,quantity) RoomEquipment}}
                                <li>${quantity} ${item}</li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <span class="disabled">None</span>
                        {{/if}}
                    </fieldset>
                </div>
            </div>
        </div>


        <div id="map"></div>
    </div>
    
    <div id="removeRoomDialog" class="hidden" title="Warning!">
        @using (Html.BeginForm<RoomController>(c => c.RemoveRoom(null), FormMethod.Post, new {id = "removeRoomForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <p class="warning">
                This action will remove the room. It cannot be undone.
            </p>
        }
    </div>
    
    <div id="renameRoomDialog" class="hidden" title="Rename this room">
        @using (Html.BeginForm<RoomController>(c => c.RenameRoom(null), FormMethod.Post, new {id = "renameRoomForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <div class="edit-label">New Room Name</div>
            <div class="edit-field">
                <input type="text" name="NewRoomName" value="${RoomName}" />
            </div>
        }
    </div>

    <div id="changeRoomTypeDialog" class="hidden" title="Change Room Type">
        @using (Html.BeginForm<RoomController>(c => c.ChangeRoomType(null), FormMethod.Post, new {id = "changeRoomTypeForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <div class="edit-label">New Room Type</div>
            <div class="edit-field">
                <select name="RoomType">
                {{each(i, roomType) RoomTypes}}
                    <text>
                    <option {{if roomType == model.RoomType}}selected{{/if}}>${roomType}</option>
                    </text>
                {{/each}}
                </select>
            </div>
        }
    </div>

    <div id="changeCapacityDialog" class="hidden" title="Change Capacity">
        @using (Html.BeginForm<RoomController>(c => c.ChangeCapacity(null), FormMethod.Post, new {id = "changeCapacityForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <div class="edit-label">New Capacity</div>
            <div class="edit-field">
                <input type="text" name="Capacity" value="${Capacity}"/>
            </div>
        }
    </div>

    <div id="addEquipmentDialog" class="hidden" title="Add Equipment">
        @using (Html.BeginForm<RoomController>(c => c.AddEquipment(null), FormMethod.Post, new {id = "addEquipmentForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <div class="edit-label">Total Number</div>
            <div class="edit-field">
                <input type="text" name="Quantity" value="1"/>
            </div>

            <div class="edit-label">Equipment</div>
            <div class="edit-field">
                <select name="Equipment">
                {{each(index, item) Equipment}}
                    <option>${item}</option>
                {{/each}}
                </select>
            </div>
        }
    </div>

    <div id="removeEquipmentDialog" class="hidden" title="Remove Equipment">
        @using (Html.BeginForm<RoomController>(c => c.RemoveEquipment(null), FormMethod.Post, new {id = "removeEquipmentForm"}))
        {
            <input type="hidden" name="RoomId" value="${Id}" />
            <div class="edit-label">Equipment</div>
            <div class="edit-field">
                <select name="Equipment">
                {{each(item, quantity) RoomEquipment}}
                    <option value="${item}">${quantity} ${item}</option>
                {{/each}}
                </select>
            </div>
        }
    </div>

    <div id="helpDialog" title="Help" class="hidden">
        <p>To move a room:
            <ol>
                <li>Click the Move Room button.</li>
                <li>Left-click on the map in the upper-left corner of the room</li>
                <li>Following the outline of the room counter-clockwise, left-click the remaining corners of the room.</li>
                <li>Right-click anywhere on the map to indicate you are finished.</li>
            </ol>
        </p>
    </div>

    <div class="hidden" id="moveRoomPostback">
        @Html.TemplateActionLink("Invisible","MoveRoom",new {Id = "${Id}"})
    </div>

</script>

<script type="text/javascript">

    var isMovingRoom = false;
    var points = [];

    ConfigureDialog(
        "#removeRoomDialog",
        "#removeRoomForm",
        "Yes, I'm absolutely positively sure.",
        "#removeRoomLink",
        function () { return !isMovingRoom; });

    ConfigureDialog(
        "#renameRoomDialog",
        "#renameRoomForm",
        "Yes, rename this room.",
        "#renameRoom",
        function () { return !isMovingRoom; });

    ConfigureDialog(
        "#changeRoomTypeDialog",
        "#changeRoomTypeForm",
        "Yes, change the room type.",
        "#changeRoomType",
        function () { return !isMovingRoom; });

    ConfigureDialog(
        "#changeCapacityDialog",
        "#changeCapacityForm",
        "Yes, change the room capacity.",
        "#changeCapacity",
        function () { return !isMovingRoom; });

    ConfigureDialog(
        "#addEquipmentDialog",
        "#addEquipmentForm",
        "Yes, add equipment.",
        "#addEquipment",
        function () { return !isMovingRoom; });

    ConfigureDialog(
        "#removeEquipmentDialog",
        "#removeEquipmentForm",
        "Yes, remove equipment.",
        "#removeEquipment",
        function () { return !isMovingRoom; });

    afterBind.push(function () {
        $("#map").css("cursor", "default");
        $.when(loadMap(), displaySVG())
            .done(function (mapData, svg) {
                mapData = mapData[2].responseText;
                svg.load(mapData);
                resizeMap(svg, mapData);
                drawRoom(svg);
                bindMapClickEvents();
            });
    });

    function displaySVG() {
        var svgPromise = $.Deferred();
        $('#map').svg({
            onLoad: function (svg) {
                svgPromise.resolve(svg);
            }
        });
        return svgPromise.promise();
    }

    function loadMap() {
        return $.get(model.MapImageUrl);
    }

    function getMapXmlDoc(mapData) {
        return $.parseXML(mapData);
    }

    function getMapSize(mapDocument) {
        var svgElem = $(mapDocument).find("svg");
        return {
            width: $(svgElem).attr("width"),
            height: $(svgElem).attr("height")
        };
    }

    function drawRoom(svg) {
        var options = { id: 'room', fill: 'blue', fillOpacity: 0.5, stroke: 'none', strokeWidth: 3 };
        var points = model.RoomPolygon.Points;
        svg.polygon(points, options);
    }

    function resizeMap(svg, mapData) {
        var mapDoc = getMapXmlDoc(mapData);
        var mapSize = getMapSize(mapDoc);
        svg.configure(mapSize);
    }

    function getSvg() {
        return $("#map").svg('get');
    }
    
    function eraseRoom(svg) {
        var room = svg.getElementById('room');
        if (room)
            svg.remove(room);
    }

    function bindMapClickEvents() {
        $("#map").die('mouseup');
        $("#map").die('contextmenu');
        $("#moveRoomLink").die('click');
        $("#map").live('mouseup', map_onMouseUp);
        $("#map").live('contextmenu', function(e) {
            e.preventDefault();
        });
        $("#moveRoomLink").live('click', startMovingRoom);
    }

    function map_onMouseUp(event) {
        switch (event.button) {
            case 2:
                stopMovingRoom();
                break;
            case 0:
                var x = event.pageX - $("#map").position().left;
                var y = event.pageY - $("#map").position().top;
                addPoint(x, y);
                break;
        }
    }

    function startMovingRoom() {
        if (isMovingRoom)
            return;
        console.log("start moving");
        points = [];
        eraseRoom(getSvg());
        $(".ui-button").button('disable');
        $("#map").css("cursor", "crosshair");
        isMovingRoom = true;
    }

    function stopMovingRoom() {
        if (!isMovingRoom)
            return;
        console.log("stop moving");
        $("#map").css("cursor", "default");

        console.log(points);
        postMoveRoom(points)
            .done(function (returnedPoints) {
                model.RoomPolygon.Points = returnedPoints;
                $(".ui-button").button('enable');
                isMovingRoom = false;
                bindMapClickEvents();
                drawRoom(getSvg());
            });
    }

    function addPoint(x, y) {
        if (!isMovingRoom)
            return;
        points.push([x, y]);
    }

    function postMoveRoom(points) {
        var url = $("#moveRoomPostback a").attr("href");
        return $.ajax(url, {
                type: "POST",
                dataType: "json",
                data: { RoomId: model.Id, Points: JSON.stringify(points) }
            });
        }

</script>

<div data-bind='template: "template"' />